@model CreateBookFormViewModel 

@{
    ViewData["Title"] = "Add Book";
}

<h5>
    <i class="bi bi-plus-square"></i>
    Add a New Book 
</h5>

<form asp-controller="Books" >
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Title" class="form-label mt-4"></label>
                <input asp-for=Title class="form-control" placeholder="Enter Title">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="form-label mt-4"></label>
                <input asp-for=Price value="@string.Empty" class="form-control" placeholder="Enter Price">
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="form-label mt-4"></label>
                <input asp-for=Price class="form-control" placeholder="Enter Price">
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="form-label mt-4"></label>
                <select class="form-select" asp-for="CategoryId" asp-items="Model.Categories">
                    <option value="0" >Choose Category</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary mt-4">Submit</button>
        </div>
        <div class="col-md-6"></div>
    </div>
</form>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

